<div>
  <div>
    <h1>Users</h1>
    <p class="subtitle">
      View a collection of users and find out if it's a convenient time to reach
      out!
    </p>
  </div>
  <div class="card-collection">
    <div class="user-card" *ngFor="let user of userData">
      <div class="pill">
        <span class="pill--timezone"
          >Timezone: {{ user.location.timezone.offset }}</span
        >
        <span class="pill--local-time"
          >Local Time: {{ getLocalTime(user.location.timezone.offset) }}</span
        >
      </div>

      <img src="{{ user.picture.large }}" alt="" />

      <p class="card-content--name">
        {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}
      </p>
      <p class="card-content--location">
        {{ user.location.city }}, {{ user.location.country }}
      </p>
      <div class="icons">
        <fa-icon (click)="sendEmail(user.email)" [icon]="mailIcon"></fa-icon>
        <fa-icon
          (click)="telephoneLink(user.cell)"
          [icon]="phoneIcon"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
